* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: brown;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: brown;
}

.logo { 
    padding: 10px;
    margin: 5px;
    background-color: black;
}

.titulo {
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
 }

.perfil-profesional {
    background-color: beige;
    margin: 10px;
    padding: 5px;
}

.docentes {
    background-color: lightcyan;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

#especialidades {
    background-color: lightyellow;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

#lista-especialidades {
    padding: 10px;
    margin: 5px;
}

section {
    padding: 10px;
    margin: 5px;
}

#laboratorio {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    border-collapse: collapse;
    border: 1px solid green;
}

td, th {
    padding: 2px;
    border: 1px solid green;
    text-align: left;
}

/* ESTILOS MEJORADOS PARA LISTAS */
ul li:nth-child(odd) {
    background-color: lightgreen;
    padding: 5px;
    margin: 2px 0;
}

ul li:nth-child(even) {
    background-color: lightcoral;
    padding: 5px;
    margin: 2px 0;
}

.celda-centrada {
    text-align: center;
}

th {
    padding: 2px;
    border: 1px solid green;
    text-align: center;
}

p::first-line {
    color: blue;
}

div li{
    color: blueviolet;
}

ul>li {
    border-top: 1px solid red;
}

