* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: #eaf4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 15px;
}

/* .titulo1 {
    text-align: center;
    text-shadow: 10px 10px blanchedalmond;
}

.titulo2 {
    text-align: center;
    text-shadow: 10px 10px 10px red;
}

.titulo3 {
    text-align: center;
    text-shadow: 10px 10px 10px red,
                 0px 10px;
}

.titulo4 {
    text-align: center;
    text-shadow: 10px 10px 10px red,
    0px 10px blue;
}

.titulo5 {
    text-align: center;
    text-shadow: 10px 10px 10px red,
    0px 10px blue,
    -168px 0px;
} */

.caja1 {
    width: 163px;
    height: 163px;
    background: rgb(8, 82, 8);
    border: 2px solid rgb(36, 253, 36);
    border-bottom-left-radius: 45%;
    border-top-right-radius: 45%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3),
    inset 0 0 30px black;
}

.caja2 {
    width: 163px;
    height: 163px;
    background: rgb(8, 82, 8);
    border: 2px solid rgb(36, 253, 36);
    border-top-left-radius: 45%;
    border-bottom-right-radius: 45%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3),
    inset 0 0 30px black;
}

.caja3 {
    width: 163px;
    height: 163px;
    background: rgb(8, 82, 8);
    border: 2px solid rgb(36, 253, 36);
    border-top-left-radius: 45%;
    border-bottom-right-radius: 45%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3),
    inset 0 0 30px black;
}

.caja4 {
    width: 163px;
    height: 163px;
    background: rgb(8, 82, 8);
    border: 3px solid rgb(36, 253, 36);
    border-bottom-left-radius: 45%;
    border-top-right-radius: 45%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3),
    inset 0 0 30px black;
}

