//colores
$primary-color: #3498db;
$secondary-color: #2ecc71;
$dark-color: #2c3e50;
$light-color: #ecf0f1;

//tipografica
$font-main: 'Helvetica Neue', Arial, sans-serif;
$font-size-base: 10px;
$font-size-large: 20px;
$font-size-small: 14px;

//espaciado
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

//radios
$radius: 5%;

//breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;