/* .box-1{
    width: 250px;
    height:300px;
    border: 1px solid blue;
    border-radius: 5px;
    color: gray;
    padding: 10px;
    gap: 10px;
    margin: 10px;
}

.box-2{
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    border-radius: 5px;
    color: gray;
    padding: 10px;
    gap: 10px;
    margin: 10px;
} */

.box-1{
    width: 250px;
    height:300px;
}

.box-2{
    width: 200px;
    height: 200px;
}

.box-border{
    border: 1px solid blue;
    border-radius: 5px;
    color: gray;
    padding: 10px;
    gap: 10px;
    margin: 10px;
}